[Unit]
Description=Perform backup of selected resilio sync (rslsync) directories

[Service]
Type=simple
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/user/local/bin/rslsync-backup.sh
